# Core ML
scikit-learn==1.3.2
pandas==2.1.4
numpy==1.26.3
joblib==1.3.2

# Responsible AI
shap==0.44.1
fairlearn==0.10.0
scipy==1.11.4

# API
fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic==2.5.3

# Data Versioning
dvc[gs]==3.40.0

# Testing
pytest==7.4.4

# Utilities
google-cloud-storage==2.14.0
